$accent-color: #2196f3;
$title-text-color: #212121;
$primary-text-color: #757575;
$primary-white-color: #ffffff;
$color-portfolio-button: #f5f4fa;
$color-hero-end-footer: #2f303a;
$bg-hover-button: #188ce8;
$team-icon-color: #afb1b8;
$overlay-bg: rgba(33, 150, 243, 0.9);

@mixin cubic-bezier {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
